<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Usuarios</title>
</head>
<body>
<h1>Lista de Usuarios</h1>
<a href="/users/new">Crear nuevo usuario</a>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Nombre Completo</th>
        <th>Teléfono</th>
        <th>Correo Electrónico</th>
        <th>Username</th>
        <th>Acciones</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.nombreCompleto}"></td>
        <td th:text="${user.telefono}"></td>
        <td th:text="${user.correoElectronico}"></td>
        <td th:text="${user.username}"></td>
        <td>
            <a th:href="@{/users/edit/{id}(id=${user.id})}">Editar</a> |
            <a th:href="@{/users/delete/{id}(id=${user.id})}">Eliminar</a>
        </td>
    </tr>
</table>
</body>
</html>
